GRPC_PORT=50051
POLYGONSCAN_API_KEY=your_key_here
POLYMARKET_PROFILE_URL=https://gamma-api.polymarket.com/public-profile
POLYMARKET_CLOSED_POS_URL=https://data-api.polymarket.com/closed-positions
POLYMARKET_VALUE_URL=https://data-api.polymarket.com/value
